root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Markdown 允许尾部双空格表示换行
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{yaml,yml}]
indent_size = 2
